.title-tagline {
  margin-top: 30%;
  /* font-weight: 600; */
  /* margin-left: 10%; */
}

.landing-img {
  width: 375px;
  height: 350px;
  /* margin-right: 10%; */
  margin-top: 13%;
  border-style: solid;
  border-width: 2px;
  border-color: #6272a4;
}
