.site-title {
  text-decoration: "none";
  margin-left: 5%;
  width: 64px;
}
@media screen and (max-width: 1286px) {
  .nav-items {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .nav-items {
    font-size: 14px;
  }
  .site-title{
    font-size: 16px;
  }
}
@media screen and (max-width: 420px) {
  .site-title {
    font-size: 0px;
  }
}
