.site-title {
  float: left;
  font-weight: 400;
  font-size: 30px;
  color: "#6272a4";
  text-decoration: "none";
  margin-left: 5%;
}
@media screen and (max-width: 1286px) {
  .nav-items {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .nav-items {
    font-size: 14px;
  }
  .site-title{
    font-size: 16px;
  }
}
@media screen and (max-width: 420px) {
  .site-title {
    font-size: 0px;
  }
}
