.companyLogo {
  width: 300px;
  margin-bottom: 30px;
}

.workCard {
  margin-top: "10vh";
  align-content: "center";
  min-height: 575px;
}

@media screen and (max-width: 1190px) {
  .workCard {
    min-height: 250px;
  }
}

@media screen and (max-width: 1550px) {
  .companyLogo {
    width: 200px;
    /* margin-left: 5%; */
  }
}
